.container {
  padding: 1rem;
  min-height: 70vh;
}

.todoItem {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newItem {
  width: 100%;
  padding: 1rem 0;
}
