$dark-grey: #324452;
$grey: #3E5867;
$green: #00B7B2;
$red: #EA4B35;
$white: #FFFFFF;

$main-bg-colour: $white;
$menu-colour: $grey;
$menu-hover-colour: #4E6877;
$text-colour: $dark-grey;
$link-colour: $green;
$link-hover-colour: #10C7C2;
$border-colour: #6E8897;
$shadow-colour: rgba(50, 68, 82, 0.2);
$inactive-colour: rgba(110, 136, 151, 0.5);
$error-colour: $red;

$screen-mobile-max: 477px;
$screen-mobile: 478px;
$screen-tablet-max: 767px;
$screen-tablet: 768px;
$screen-tablet-landscape-max: 991px;
$screen-tablet-landscape: 992px;